body {
    background-image: url("../images/bg.png");
}

.container {
    background-image: url("../images/container.jpg");
    width: 50%;
    /*height: 30%;*/
    margin: 10% auto;
    border-radius: 5px;
    border: 1px solid #B68F8F;
    text-align: center; 
}

p {
    color: #FF2D3B;
    font-family: "Arvo", serif;
}

#avatar {
    margin: 5px;
    /*float: left;*/
}