.content {
    background-color: #EFE4D2;
    color: #131D4F;
}

.postListItem {
    background-color: #EFE4D2;
    color: #131D4F;
}

.postTitle {
    background-color: #EFE4D2;
    color: #254D70;
}

.postDate {
    background-color: #EFE4D2;
    color: #254D70;
}

.postExcerpt {
    background-color: #EFE4D2;
    color: #131D4F;
}

iframe {
    width: 100%;
}
